.login {
  margin: 0 auto;
  max-width: 500px;
  border-radius: 5px;
  border: 5px solid #fff;
  background-color: #95a472;
  box-shadow: 5px 5px 10px grey;
}

.logo {
  display: block;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  width: 90%;
}

.welcome {
  text-align: center;
  color: #fff;
}

.selectors {
  display: block;
  margin: 0 25px;
}

.login-button, .signup-button {
  width: 50%;
  height: 50px;
  background: #fff;
  border: 2px solid #3a4e48;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}

.selected {
  background-color: #3a4e48;
  color: #fff;
}

.inputBox {
  padding-top: 1em;
  display: block;
  margin: 0px 25px 25px 25px;
  text-align: center;
  background-color: #3a4e48;
}

.inputs {
  display: block;
  margin: 0 auto;
}

.login label {
  color: #fff;
}

.login input[type="text"],
.login input[type="password"] {
  max-width:400px;
	width: 75%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin: 1em 1em;
  border-radius:5px;
  border:2px solid #f2f2f2;
  padding-left:10px;
  overflow: auto;
}

#submit-button {
  height:40px;
  width:100px;
  margin-bottom: 1em;
  background:#fff;
  border:5px solid #282c34;
  border-radius:5px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}
